// COLORS
// $primary-color: #02aab0;
// $secondary-color: #00cdac;

// $primary-color: #7f449d;
// $secondary-color: #793fc1;

$primary-color: #3e789e;
$secondary-color: #6f61a1;

// $rainbow-color: red 16.6666666667%, orange 16.6666666667% 33.3333333333%,
//   yellow 33.3333333333% 50%, green 50% 66.6666666667%,
//   blue 66.6666666667% 83.3333333333%, purple 83.3333333333%;

$dark-rainbow-color: rgb(255, 85, 85), rgb(250, 171, 90), rgb(113, 255, 137),
  rgb(228, 113, 249);

$light-rainbow-color: rgb(245, 217, 211), rgb(250, 230, 209), rgb(221, 234, 232),
  rgb(240, 231, 242);

$white-color: #fff;
$dark-color: rgb(64, 64, 66);
// $dark-color: #333;

// $dark-grey: #333333;
$dark-grey: #10171d;

$dark-blue-text: #272341; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
